@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");

body {
  font-family: "Domine", serif;
}
